<!DOCTYPE html>
<html>
<head>
  {{> head}}
  <title>Truhlář Sláma - Admin</title>
  <link rel="stylesheet" type="text/css" href="css/index.css" />
  <link rel="stylesheet" type="text/css" href="css/portfolio.css" />
</head>
<body>
{{> header-index}}
<main class="center">
  <div class="admin-container">
    <h1>Administrace</h1>
    <div class="reset-cache">
      <a href="{{baseURl}}/cache">Obnovit cloud</a>
    </div>
  </div>
</main>
{{> footer}}
</body>
</html>
