<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>App</title>
</head>
<body>
<div>
  <a href="/">Domů</a>
</div>
<div>
  <h1>Portfolio</h1>
  <div>
    {{#each assets}}
      <img src="{{this.secure_url}}" width="500" alt="example">
    {{/each}}
  </div>
</div>
</body>
</html>
