a {
    text-decoration: none;
    color: var(--text-light)
}

a:hover {
    text-decoration: underline;
}

h1 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.contacts {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

main img {
    height: max-content;
}

.profile-image-caption {
    text-align: justify;
}

main {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    gap: 1rem;
    height: max-content;
    align-items: center;
    background-image: url("../background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.intro-section {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    gap: 1rem;
}

.section {
    width: 1000px;
    min-height: 500px;
    height: max-content;
    padding: 3rem;
    background: var(--secondary-transparent);
    color: var(--text-light);
}

.last-section {
    border-radius: 0 0 3rem 3rem;
    margin-bottom: 1rem;
}

@media screen and (max-width: 320px) {
   main {
        margin-top: 0.5rem;
        flex-direction: column;
    }

    .intro-section-item {
        width: 280px;
    }

    h1 {
        font-size: large;
    }

    h2 {
        font-size: medium;
    }

    p {
        font-size: small;
    }

    .contacts {
        font-size: small;
    }
}

@media screen and (min-width: 321px) and (max-width: 375px) {
    main {
        margin-top: 0.5rem;
        flex-direction: column;
    }

    .intro-section-item {
        width: 320px;
    }

    h1 {
        font-size: large;
    }

    h2 {
        font-size: medium;
    }

    p {
        font-size: small;
    }

    .contacts {
        font-size: small;
    }
}

@media screen and (min-width: 376px) and (max-width: 956px) {
    main {
        margin-top: 0.5rem;
        flex-direction: column;
    }

    .intro-section-item {
        width: 360px;
    }

    h1 {
        font-size: large;
    }

    h2 {
        font-size: medium;
    }

    p {
        font-size: small;
    }

    .contacts {
        font-size: small;
    }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
    main {
        margin-top: 0.5rem;
    }
}

@media screen and (min-width: 769px) {
    .intro-section-item {
        width: 450px;
    }


}
